<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" strict="true" name="FileConfig" shutdownHook="disable">
	<Appenders>
		<Appender type="File" name="File" fileName="queryevents.log">
			<Layout type="PatternLayout">
				<Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
			</Layout>
		</Appender>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="File" />
		</Root>
	</Loggers>

</Configuration>